version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  test:
    jobs:
      - architect/go-build:
          name: go-build
          binary: cluster-cleaner
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          requires:
            - go-build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master

      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: push-cluster-cleaner-to-app-catalog
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          chart: cluster-cleaner
          requires:
            - push-to-registries
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - main
                - master
