image:
  name: "giantswarm/cluster-cleaner"
  tag: ""
registry:
  domain: gsoci.azurecr.io

dryRun: false

pod:
  user:
    id: 1000
  group:
    id: 1000

clusterCleaner:
  enabled: false

# Add seccomp to pod security context
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL

global:
  podSecurityStandards:
    enforced: false
